/* 
THAVAS 1
:root {
  --primary: #e8eae3;
  --secondary: #f50057;
  --highlight: #373833;
} */


:root {
  --primary: #f8eee3;
  --navbar: #ffb049;
  --navbar_text: #f8eee3;
  --btn:#ffb049;
  --text: #373833;
  --product_background:#b6cddb;
  --background:#f8eee3
} 



body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  background-color: var(--background);
  overflow-x: hidden;
}

.title {
  position: absolute;
  margin-top: 120px;
  font-size: 80px;
  color: var(--highlight);
  font-family: "Indie Flower";
  text-align: center;
  left:5%;
}

.banner{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 25%;
  height: 25%;
}

/*
.########.....###....##....##.##.....##.########.##....##.########....................######..########..######..########.####..#######..##....##
.##.....##...##.##....##..##..###...###.##.......###...##....##......................##....##.##.......##....##....##.....##..##.....##.###...##
.##.....##..##...##....####...####.####.##.......####..##....##......................##.......##.......##..........##.....##..##.....##.####..##
.########..##.....##....##....##.###.##.######...##.##.##....##.......................######..######...##..........##.....##..##.....##.##.##.##
.##........#########....##....##.....##.##.......##..####....##............................##.##.......##..........##.....##..##.....##.##..####
.##........##.....##....##....##.....##.##.......##...###....##......................##....##.##.......##....##....##.....##..##.....##.##...###
.##........##.....##....##....##.....##.########.##....##....##.......................######..########..######.....##....####..#######..##....##
*/

/* buy buttons */
.buy-btn {
  background-color: var(--btn);
  color: var(--text);
  position: relative;
  margin-top: 0px;
  border-radius: 5%;
  float: left;
  font-size: 1.4em;
  width:100%;
  font-weight: bold;
  font-family: "Indie Flower";
  font-weight: bold;
  -moz-box-shadow: 0px 0px 4px 1px var(--highlight);
  -webkit-box-shadow: 0px 0px 4px 1px var(--highlight);
  box-shadow: 0px 2px 2px 1px var(--highlight);
  text-align: center;
  margin-right: 240px;
}

.buy-btn:hover {
  transition-duration: 0.5s;
  background-color: var(--secondary);
  box-shadow: 0 0 11px;
}
.buy-btn-icon-stripe{
  width:100px;
  position:relative;
  right:14px;
  margin-right:100px;
}

.payment-methods {
  display: flex;
  position: relative;
  left: 48px;
}



/*
.########..########...#######..########..##.....##..######..########................########..####..######..########..##..........###....##....##
.##.....##.##.....##.##.....##.##.....##.##.....##.##....##....##...................##.....##..##..##....##.##.....##.##.........##.##....##..##.
.##.....##.##.....##.##.....##.##.....##.##.....##.##..........##...................##.....##..##..##.......##.....##.##........##...##....####..
.########..########..##.....##.##.....##.##.....##.##..........##...................##.....##..##...######..########..##.......##.....##....##...
.##........##...##...##.....##.##.....##.##.....##.##..........##...................##.....##..##........##.##........##.......#########....##...
.##........##....##..##.....##.##.....##.##.....##.##....##....##...................##.....##..##..##....##.##........##.......##.....##....##...
.##........##.....##..#######..########...#######...######.....##...................########..####..######..##........########.##.....##....##...
*/

/* image */
.product-image {
  max-width: 500px;
  border-radius: 15%;
}

/* product description */
.description {
  position: absolute;
  font-family: "Indie Flower";
  color: var(--text);
  font-size: 35px;
  line-height: 2;
  top: 100px;
  left:40%;
}

/* product info container */
.product {
  position: relative;
  top: 300px;
  left: 100px;
  width: 86%;
  background-color: var(--product_background);
  padding-right: -40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  margin-bottom: 100px;
  padding: 50px;
}



.desc_intro{
  position: relative;
  text-align: left;
  font-family: "Indie Flower";
  color: var(--text);
  font-size: 35px;
  line-height: 2;
}
/*
.##....##....###....##.....##.########.....###....########....
.###...##...##.##...##.....##.##.....##...##.##...##.....##...
.####..##..##...##..##.....##.##.....##..##...##..##.....##...
.##.##.##.##.....##.##.....##.########..##.....##.########....
.##..####.#########..##...##..##.....##.#########.##...##.....
.##...###.##.....##...##.##...##.....##.##.....##.##....##....
.##....##.##.....##....###....########..##.....##.##.....##...
*/

.navbar {
  position: fixed;
  padding: 0;
  height: 100px;
  z-index: 1000;
  background-color: var(--navbar);
}

.logo {
  font-family: "Roboto Mono", courier, sans-serif;
  color: var(--navbar_text);
  font-size: 2rem;
  margin-left: 40px;
  text-decoration: none;
  list-style: none;
}

.logo:hover {
  color: var(--navbar_text);
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  right: 60px;
}

.navbar-links li {
  list-style: none;
  position: relative;
  top: 10px;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--navbar_text);
  padding: 1rem;
  display: block;
  font-family: "Roboto Mono", courier, sans-serif;
  font-size: 20px;
  margin-left: 50px;
  position: relative;
  bottom: 10px;
}

.navbar-links li a:hover {
  color: var(--highlight);
}

/*
..######...#######..##....##.########....###.....######..########....########..#######..########..##.....##
.##....##.##.....##.###...##....##......##.##...##....##....##.......##.......##.....##.##.....##.###...###
.##.......##.....##.####..##....##.....##...##..##..........##.......##.......##.....##.##.....##.####.####
.##.......##.....##.##.##.##....##....##.....##.##..........##.......######...##.....##.########..##.###.##
.##.......##.....##.##..####....##....#########.##..........##.......##.......##.....##.##...##...##.....##
.##....##.##.....##.##...###....##....##.....##.##....##....##.......##.......##.....##.##....##..##.....##
..######...#######..##....##....##....##.....##..######.....##.......##........#######..##.....##.##.....##
*/

.contact{
  position: absolute;
  width:50%;
  left:25%;
  top:25%;

}


/*
.##.....##.########.########..####....###.................#######..##.....##.########.########..####.########..######.
.###...###.##.......##.....##..##....##.##...............##.....##.##.....##.##.......##.....##..##..##.......##....##
.####.####.##.......##.....##..##...##...##..............##.....##.##.....##.##.......##.....##..##..##.......##......
.##.###.##.######...##.....##..##..##.....##.............##.....##.##.....##.######...########...##..######....######.
.##.....##.##.......##.....##..##..#########.............##..##.##.##.....##.##.......##...##....##..##.............##
.##.....##.##.......##.....##..##..##.....##.............##....##..##.....##.##.......##....##...##..##.......##....##
.##.....##.########.########..####.##.....##..............#####.##..#######..########.##.....##.####.########..######.
*/


/* description juts into image */
@media screen and (max-width:1740px){
  .product{
    background-color: transparent;
  }
  .product-image{
    position: relative;
    width:600px;
    right:80px;
    bottom:80px
  }
  .description{
    position: absolute;
    font-size: 30px;
    top:0px;
    right:100px;
  }
  .payment-methods{
    position: relative;
    left:-30px;
  }
  /* .buy-btn-icon-stripe{
    max-width:15%;
    position:relative;;
  } */
  .buy-btn-icon-paypal{
    max-width:25%;
    right:25px;
  }
  .buy-btn{
    position: relative;
    font-size:18px;
    bottom:100%;
    color:aliceblue
    
  }

  .desc_intro{
    position: relative;
    right:4%
  }
}


@media screen and (max-width:1500px){
  .description{
    position: inherit;
    margin-left:-10%;
  }
  .product-image{
    position: relative;
    text-align: left;
    max-width:70%;
    min-width:65%;
  }
  .payment-methods{
    position: relative;
    text-align: left;

  }
  .buy-btn{
    position: relative;

  }
  .desc_intro{
    position: relative;
    right:70px;
  }
}

@media screen and (max-width:880px){
  .title{
    font-size: 50px;
    text-align: center;
  }
  .desc_intro{
    font-size: 30px;
    top:-50px
  }
  .description{
    font-size: 25px;
  }
}

@media screen and (max-width: 750px){
  .buy-btn{
    right:10%;
  }
}

@media  screen and (max-width: 590px) {

  .buy-btn{
    right:0%;
    width:50%;
  }
  .product-image{
    right:17%;
  }
  
}